.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  transition: 0.3s;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  width: 250px;
  height: 120px;
  padding: 16px;
  margin: 16px;
  text-shadow: #000 2px 3px 7px;
}

.card-title {
  text-transform: capitalize;
  font-size: 20px;
}

.card-body {
  margin-top: 24px;
  font-size: 15px;
  white-space: wrap;
}

.card:hover {
  z-index: 1;
  transform: scale(1.1);
  cursor: pointer;
}
