body {
  background-color: rgb(37, 36, 36);
  height: 100vh;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.back-btn {
  width: 90px;
  height: 40px;
  background: transparent;
  border: none;
  color: rgb(167, 92, 7);
  cursor: pointer;
}
